.container {
  background: rgb(184, 234, 238);
  height: 70vh;
  min-height: 60vh;
  width: 60vw;
  margin: 10rem auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.container-title {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 0 #000;
  margin-top: 5rem;
}

ul#roomlist {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

ul#roomlist > li {
  font-size: 3rem;
  margin: 1rem;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 20px;
}

ul#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul#pagination > li {
  font-size: 1.5rem;
  margin: 0 1rem;
}

#prev {
  margin-right: 3rem;
}

#next {
  margin-left: 3rem;
}

button#btn-create-room {
  margin-top: 40px;
  font-size: 2rem;
  width: 150px;
  padding: 10px;
  color: #000;
  background-color: bisque;
  border-bottom: 5px solid #ccc100;
}

button#btn-create-room:hover {
  margin-top: 43px;
  color: black;
  background: bisque;
  border-bottom: 2px solid #ccc100;
}
