p {
  text-align: center;
  font-size: 70px;
  margin: 0px 0px 50px 0px;
}

.registration-wrapper {
  background-color: rgb(184, 234, 238);
}

input {
  display: flex;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: 1px;
  width: 180px;
  
}

.green {
  margin: auto;
  align-items: center;
  border: 4px;
  font-size: large;
  border-radius: 3px;
  padding: 5px;
}

#aaa {
  padding: 30px;
}

#bbb {
  display: flex;
  padding: 40px;
}

#ccc {
  background-color: bisque;
  padding: 50px;
  font-size: 80px;
}

img {
  margin: 50px 0px 0px 180px;
}

.sin {
  margin: auto;
  align-items: center;
  border: 4px;
  font-size: large;
  border-radius: 3px;
  padding: 5px;
  display: flex;
}

button:hover {
  background-color: orange;
  cursor: pointer;
  border-radius: 3px;
}