<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
  <link rel="stylesheet" href="../../static/css/error.css">
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/color.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/error.css') }}"
    /> -->
  </head>
  <body class="error">
    <img src="../../static/img/crocodile-gf12168d57_1280.png" alt="サンプル" width="400px">
    <div class="error-wrapper">
      <div class="error-content">
        <div class="error-title"><span>SORRY</span></div>
        <div class="error-description">
          <p>動作エラーです</p>
          <div id="btn-a">
          <button class="basic-btn error-btn">
            <a href="{{ url_for('index') }}"> 戻る </a>
          </button>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
