{% extends 'base.html' %} {% block title %}
<title>chatroom</title>
{% endblock %} {% block body %}
<main>
  <div class="room-container">
    <div class="message-container">
      <!-- 自分のメッセージと相手のメッセージでクラスを分ける -->
    </div>
    <div class="message-form">
      <form action="#" method="POST">
        <input type="text" name="message" id="input-message" />
        <button class="btn-send-message" type="submit" name="message">
          送信
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %} {% block script %}

<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<script src="../static/js/chatroom.js"></script>
{% endblock %}
